@import './tailwind.css';

:root {
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);

  line-height: 1.5;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  margin: 0;
}

button {
  transition: background 0.2s;
}
