@import 'tailwindcss';
@source "../index.html" "./App.vue" "./**/*.{vue,html,js,ts,jsx,tsx}" "../formkit.theme.ts";

/* https://tailwindcss.com/docs/theme */
@theme {
  --font-main: 'Lato' system-ui, -apple-system, 'Segoe UI', sans-serif;
  --font-decor: 'Poppins' system-ui, -apple-system, 'Segoe UI', sans-serif;
  --font-decor2: 'DM Sans' system-ui, -apple-system, 'Segoe UI', sans-serif;

  --shadow-100: -10px 4px 20px rgba(48, 48, 48, 0.1);
  --shadow-200: 0 4px 4px rgba(0, 0, 0, 0.25);

  --shadow-inset-100: inset 0 -1px 3px rgba(0, 0, 0, 0.25);

  --back-btn-size: 40px;

  --color-primary-100: #ffffff;
  --color-primary-200: #cccccc;
  --color-primary-300: #777777;
  --color-primary-400: #333333;

  --color-decor-100: #fadf99;
  --color-decor-200: #f8c86c;
  --color-decor-300: #ffb034;
  --color-decor-400: #f3ad3e;

  --color-decor-dark-100: #cce4ff;
  --color-decor-dark-200: #7aa7e6;
  --color-decor-dark-300: #3c5fa3;
  --color-decor-dark-400: #15215c;
}
